include ../head.pug
body
  .container.mt-5
    h1 #{mode}
    .mb-3
      label(for="productName" class="form-label") Product Name
      input(type="text" class="form-control" id="productName" name="productName" required)
    .mb-3
      label(for="productDateTime" class="form-label") Product Date/Time
      .input-group.date(id="datetimepicker1" data-target-input="nearest")
        input(type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" id="productDateTime" name="productDateTime" required)
        .input-group-append(data-target="#datetimepicker1" data-toggle="datetimepicker")
          .input-group-text
            i.fas.fa-calendar-alt
    .mb-3
      label(for="farm" class="form-label") Farm
      input(type="text" class="form-control" id="farm" name="farm" required)
    .mb-3
      label(for="price" class="form-label") Price
      input(type="text" class="form-control" id="price" name="price" required)
    
    button(type="submit" class="btn btn-primary" onclick="window.location.href='/'") Back to list
    span &nbsp;
    button(type="submit" class="btn btn-success" onclick="submitForm()") #{mode === 'Update' ? 'Update' : 'Add'}

  script.
    const format = 'DD/MM/YYYY HH:mm'
    const picker = new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'),{
        localization: {
            'locale': 'fr'
        }
    })
    picker.dates.formatInput = function(date) {
        return moment(date).format(format)
    }

    if ("#{mode}" === "Update") {
      const productData = !{JSON.stringify(productData || {})}.ticket;
      document.getElementById('productName').value = productData.productName || '';

      picker.dates.setValue(
        new tempusDominus.DateTime(moment(productData.productDateTime, format))
      );

      document.getElementById('farm').value = productData.farm || '';
      document.getElementById('price').value = productData.price || '';
    }

    function submitForm() {
      const productData = {
        productName: document.getElementById('productName').value,
        productDateTime: document.getElementById('productDateTime').value,
        farm: document.getElementById('farm').value,
        price: document.getElementById('price').value,
      };

      const url = "#{mode}" === "Update" ? `/api/ticket/${!{JSON.stringify(productData || {})}.id}` : '/api/ticket';
      const method = "#{mode}" === "Update" ? 'put' : 'post';

      axios[method](url, productData).then(response => {
        alert('Success!');
        location.href = '/'
      })
      .catch(error => {
        if(error.response)
          alert(JSON.stringify(error.response.data.errors))
        else
          alert(error)
      });
    }

